.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 100px;
    flex-wrap: wrap;
  }
.box-C {
    background-image: linear-gradient(rgb(208, 24, 138) 50%, rgb(109, 109, 245));
    height: 100px;
    width: 100px;
    margin: 3px 0;
    font-size: 40px;
    font-family: cursive;
    text-align: center;
    text-shadow: 2px 2px 5px white;
    color: purple;
    }
.even,
.last {
    background-color: #eeeff2;
    height: 100px;
    width: 100px;
    margin: 3px 0;
    font-size: 40px;
    font-family: Tahoma;
    border-top: 1px solid #687291;
    text-align: center;
    position: relative;
    animation: animation 5s linear 2s infinite alternate;
    }
@keyframes animation {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:210px; top:0px;}
    50%  {background-color:blue; left:210px; top:210px;}
    75%  {background-color:green; left:0px; top:210px;}
    100% {background-color:red; left:0px; top:0px;}