body {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

/* Container for all boxes */
.container-B {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row; /* Change this to "row" */
    justify-content: flex-start;
}

/* Individual box styling */
.box-B {
    width: 100px;
    height: 150px;
    border-left: 10px dotted #d0d0ff;
    display: flex;
    flex-direction: row; /* This line is not necessary as it's already set in .container-B */
    align-items: top;
    justify-content: left;
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    background-color: #eeeff2;
    margin-bottom: 25px;
    margin-top: 10px;
    margin-right: 20px;
}

/* Change box and font colors on hover */
.box-B:hover {
    cursor: pointer;
    background-color: yellow;
    color: black;
}

/* Add space between letters and box edges */
.box-B {
    padding: 10px;
    color: black;
}

.box-B:last-child {
  margin-top: 500px;
}
