body {
    margin-bottom: 0;
    padding: 0;
  }
  
  /* Container for the first five boxes */
  .container-B {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  /* Individual box styling for the first five boxes */
  .box-B {
    width: 100px;
    height: 150px;
    border-left: 10px dotted #d0d0ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    background-color: #eeeff2;
    margin-bottom: 25px;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  /* Container for the last box */
  .container-B {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  /* Individual box styling for the last box */
  .box-B {
    width: 100px;
    height: 150px;
    border-left: 10px dotted #d0d0ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    background-color: #eeeff2;
    flex-direction: row;
  }
  
  /* Change box and font colors on hover */
  .box-B:hover,
  .box-B:hover {
    cursor: pointer;
    background-color: yellow;
    color: black;
  }
  
  /* Add space between letters and box edges */
  .box-B,
  .box-B {
    padding: 10px;
    color: black;
  }
  